{% extends "base.html" %}
{% block social %}
 user  Profile
{% endblock social %}
{% block stuff %}
 
 <div class="container">
		
		
			<div class="card card text-center col-md-6" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title"> UserName: {{profiles.user_name.username}} </h5>
			    <h5 class="card-title"> following: {{profiles.following.all}}</h5>
			    <h5 class="card-title"> followers: {{profiles.followers.all}}</h5>
			    
			  
			    <a href="{% url 'posts_list' %}" class="btn btn-secondary">Back </a>
			    
			  </div>
			</div>
		

	
</div>


{% endblock stuff %}